<%- include('partials/header.ejs') %>
    <body>
        <h2>Confirmation:</h2>
        <h3>Thank you, <%= userValues.firstName%> <%= userValues.lastName%></h3>
        <h5>Your Username is: <%= userValues.username%> </h5>
    </body>
</html>