<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home </title>
        <meta charset="UTF-8">
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script src="js/functions.js"></script>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body class="home">
        <div id="home-menu">
            <div id="logo">QueueFlix</div>
            <a id="home-signIn"href="/signIn">Sign In</a>
        </div>
        
        
        <form id="home-form" action="/signUp">
            <p>Unlimited Trailers, And More.</p>
            <p>Enter your Email To Create Or Restart Your Membership</p>
        
            <input type="text" id="home-text" placeholder="Enter your email address" name="email" size=50>
            <div id="home-warning"></div>
            <br><br>
            <button type="submit" class="home-button">Try for 30 days free ></button>
        </form>

    </body>
</html>