<%- include('partials/header.ejs') %>
<%- include('partials/nav-light.ejs') %>

<body>
   <div class="container">
      <div class="d-flex justify-content-center h-100">
         <div class="card">
            <div class="card-header">
               <h3>Sign In</h3>
               
            </div>
            <div class="card-body">
               <form method="POST" action="/signIn">
                  <div class="input-group form-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                     </div>
                     <input type="text" class="form-control" placeholder="username" name="username">
                     
                  </div>
                  <div class="input-group form-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                     </div>
                     <input type="password" class="form-control" placeholder="password" name="password">
                  </div>
                 
                  <div class="form-group">
                     <input type="submit" value="Login" class="btn float-right login_btn">
                  </div>
               </form>
               <% if(typeof loginError != "undefined" && loginError) {%>
                  <h3 style="color:red">Wrong Credentials</h3>
               <%}%>
            </div>
            <div class="card-footer">
               <div class="d-flex justify-content-center links">
                  Don't have an account?<a href="/registrationPage">Sign Up</a>
               </div>
              
            </div>
         </div>
      </div>
   </div>
   <%- include("partials/bootstrap-footer.ejs") %> 
   <%- include('partials/footer.ejs') %>
   </body>
   </html>